@import url('https://fonts.googleapis.com/css?family=ChakraPetch');
body {
  margin: 0;
  font-family: 'Chakra Petch';
}

code {
  font-family: 'Chakra Petch';
}

.nav{
  background-color: aqua;
  position: relative;
}